* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	margin: 0;
	border: 1px solid #bbb;
	padding: 0.5rem;
	width: 760px;
	background-color: #abe;
}

#lastModified {
	text-align: center;
	font-size: smaller;
}
